<h1>Editing transaction</h1>

<% form_for(@transaction) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :origin_account %><br />
    <%= f.text_field :origin_account %>
  </p>
  <p>
    <%= f.label :target_account %><br />
    <%= f.text_field :target_account %>
  </p>
  <p>
    <%= f.label :valuta %><br />
    <%= f.date_select :valuta %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @transaction %> |
<%= link_to 'Back', transactions_path %>