<h1>Editing expense</h1>

<% form_for(@expense) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :hours %><br />
    <%= f.text_field :hours %>
  </p>
  <p>
    <%= f.label :rate %><br />
    <%= f.text_field :rate %>
  </p>
  <p>
    <%= f.label :fixcosts %><br />
    <%= f.text_field :fixcosts %>
  </p>
  <p>
    <%= f.label :remark %><br />
    <%= f.text_field :remark %>
  </p>
  <p>
    <%= f.label :offer %><br />
    <%= f.text_field :offer %>
  </p>
  <p>
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @expense %> |
<%= link_to 'Back', expenses_path %>